* {
    box-sizing: border-box;
    background-color: rgb(124, 122, 120);
}

/* Footer abajo de todo  */ 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}
/* Footer abajo de todo  */ 

/* ACA COMIENZA EL INDEX {}  */ 



.index section {
    font-family: 'Noto Sans KR', sans-serif;


    padding-top: 60px;
    width: 100%
}


footer div {
    display: flex;
    justify-content: space-evenly;
    background-color: chocolate;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    margin-bottom: -30px;
    border-radius: 20px 20px 0 0;
    margin-top: auto;
}

footer h1 {
    background: chocolate;
}

.headerindex {
    display: block;
    height: auto;
    justify-content: center;
    border: black solid;
}

.index input{
    display: block;
    margin: auto;  
}


.menuh a {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: black;
}


.indexlista  {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    background: black;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
}
.indexlista li {
    background: red;
    padding: 10px;
    border-radius: 2px;
}

.indexlista li h1{
    background: red;
    font-style: italic;
    border-radius: 2px;
}
.indexlista h2  {
    font-size: 15px;
    background: red;
    border-radius: 2px;
}

.index strong {
    background-color: coral;
    text-decoration: underline;
    font-size: 30px;
    border-radius: 3px;
}

.index img{
    padding: 5px;
}

.menuh {
    display: flex;
    justify-content: flex-end;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 9px;
    padding-right: 10px;
    margin: 0 30px;
    gap: 30px;
}

.Logo {
    display: flex;
    justify-content: center;
    height: 120px;
    padding-right: 40px;
    padding-top: 10px;
}

<<<<<<< HEAD

.headerindex div {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.headerindex input {
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
    max-width: 200px;
    background: goldenrod;
    font-weight: bold;
}
.headerindex label {
    background: goldenrod;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.headerindex button {
    font-family: 'Noto Sans KR', sans-serif;
    background: green;
    border-radius: 5px;
    font-weight: bold;
}




/* */
/* ACA TERMINA EL INDEX  {} */ 

/* */
/* ACA COMIENZA EL RESULTADO DE BUSQUEDA */
 .headerindex h1 {
     font-family: 'Noto Sans KR', sans-serif;
 }
/* ACA TERMINA EL RESULTADO DE BUSQUEDA */
=======
/* ACA TERMINA EL INDEX */ 

.TituloDeGenerosDePeliculas {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    
    
}
>>>>>>> 278f0852dedd005a69933b2e031095eb81205a43
