* {
    box-sizing: border-box;
    background-color: rgb(124, 122, 120);
}

/* Footer abajo de todo  */ 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}
/* Footer abajo de todo  */ 

/* Footer estilo   */ 
footer  {
    display: flex;
    justify-content: space-evenly;
    background-color: chocolate;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    border-radius: 20px 20px 0 0;
}

footer h3 {
    background-color: chocolate;
}

/* Footer estilo   */ 

/* ACA COMIENZA LA PAGINA PRINCIPAL {}  */ 

/* Header */ 

.headerindex {
    border: black solid;
    padding-top: 10px;
}

.headerindex .buscador {
    display: flex;
    justify-content: flex-end;
}

.headerindex input {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    background: goldenrod;
    border-radius: 5px;
    max-width: 200px;
}

.headerindex label {
    font-family: 'Noto Sans KR', sans-serif;    
    background: goldenrod;
    border-radius: 5px;
}

.headerindex button {
    font-family: 'Noto Sans KR', sans-serif;
    background: green;
    font-weight: bold;
    border-radius: 5px;
}


.menuh {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 26px;
    margin: 0 30px 10px;
    gap: 30px;
}

.menuh a {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: black;
}


.Logo {
    height: 150px;
    display: flex;
    margin: 0 auto;
}


/* Header termina */ 

.index section {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 60px;
    width: 100%
}

.index input{
    display: block;
    margin: auto;  
}

.index strong {
    background-color: coral;
    text-decoration: underline;
    font-size: 30px;
    border-radius: 3px;
}

.index img{
    padding: 5px;
}


.indexlista  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    background: black;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.indexlista li {
    background: red;
    padding: 10px;
    border-radius: 2px;
}

.indexlista li h1{
    background: red;
    font-style: italic;
    border-radius: 2px;
}

.indexlista h2  {
    background: red;
    font-size: 15px;
    border-radius: 2px;
}


/* ACA TERMINA LA PAGINA PRINCIPAL  {} */ 

/* ACA COMIENZA LA PAGINA RESULTADO DE BUSQUEDA */
.rb {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: underline;
}


.busqueda  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busqueda h1 {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 35px;
    border-radius: 30px;
    width: 100%;
}


.busquedalista {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    gap: 25px;
}

.busquedalista a {
    width: fit-content;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.726);
    margin-right: 40px;
}

.busqueda p {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: yellow;
    display: none;
}

.imagenb {
    background-color: black;
    height: 400px;
    width: 400px; 
}


/* ACA TERMINA LA PAGINA RESULTADO DE BUSQUEDA */

/* ACA COMIENZA LA PAGINA DE GENEROS */


.GenerosDePeliculasySeries {
    font-size: 30px;
    text-decoration: underline;

    
}



.PeliySerie { 
    font-size: 30px;
    text-decoration: underline;
}


.GenerosDePeliculas a {

    font-size: 20px ;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
    text-decoration: none;
}

.GenerosDeSeries a {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
    text-decoration: none;

}

/* ACA COMIENZA LA PAGINA DE DETALLE DE GENEROS */ 

.TerrorTitulo {
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.Peliculas {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;

}

.ProdigioPelicula {
    text-align: center;
    background-color: red;
    width: 15vw;
    margin: 0 auto;
    
 
}


.Breakingbad {
    background-color: red;
    width: 15vw;
    margin: 0 auto;
}

.TituloBB {
    text-align: center;
}


.Breakingbad {
    padding-top: 10px;
    text-align: center;
}





























/* MEDIA QUERIES ( siempre va al final del css !)  */

/* MEDIA QUERIES MOBILE */

/* MEDIA QUERIES INDEX INICIA */
@media (max-width:420px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: 100vh;
    }

    html {
        width: 100vw;
        min-height: 100vh;
    }


    .headerindex {
        width: 96vw;
    }

    .headerindex .menuh {
        font-size: 18px;
        justify-content: space-around;
    }

    .headerindex img {
        height: 100px;
        margin: 10px 140px 10px;
    }

    .headerindex .buscador {
        font-size: 20px;
        height: 32px;
        gap: 5px;
        justify-content: center;
    }

    .headerindex button {
        font-size: 20px;
    }


    .index {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100vw;
        height: 100vh;
    }

    .index strong {
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .indexlista {
        display: flex;
        min-height: 100vh;
        gap: 10px;
        justify-content: center;
        padding: 5px;
        width: fit-content;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        background-color: chocolate;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 8px;
        border-radius: 20px 20px 0 0;
        margin-right: 15px;
        margin-top: 5920px
    }



 /* MEDIA QUERIES INDEX TERMINA */

 /* MEDIA QUERIES RESULTADOBUSQUEDA INICIA */


  .rb  {
    font-size: 30px;
  } 

  .busqueda h1 {
     font-size: 25px;
  }

  .busqueda {
     margin-right: 15px;
  }

  .imagenb {
    width: 80vw;
    height: 50vh;
  }

  .busquedalista  {
     font-size: 40px;
     text-decoration: underline;
     gap: 50px;
  }
  
  .busquedaf {
     margin-top: 10px;
  }


/* MEDIA QUERIES RESULTADOBUSQUEDA TERMINA */

/* ACA ARRANCA MEDIA DE PIPE */ 

    .TERROR {
        display: flex;
        justify-content: center;
      }
     
      
     
      .ProdigioPelicula {
        margin: 0;
        width: 50vw;
      }
     
      .Breakingbad {
        margin: 0;
        width: 50vw;
        background-color: red;
      }
     
      .TituloBB {
        background-color: red;
      }
     
      .ProdigioPelicula h3 { 
          background-color:red;
      }
 

 
}























